:root {
	--poppins: "Poppins", sans-serif;
	--dark1: #24252D;
	--black1: #2D2E36;
	--black2: #1B1A21;
	--black3: #2A2D3A;
	--black4: #24252D;
	--pink: #DA18A3;
	--pink-linear: linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
	--pink-linear-reverse: linear-gradient(-101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
	--logo-width: 132px;
	--logo-height: 32px;
}