.footer {
	.top-bar,
	.bottom-bar {
		border-top: 1px solid var(--black1);
		background-color: var(--black4);
	}

	h6 {
		margin-bottom: 1.5rem;
		font-size: 1.25rem;
	}

	.nav-link {
		padding-right: 0;
		padding-left: 0;
	}
}

.newsletter {
	position: relative;
	max-width: 400px;

	label {
		display: block;
		margin-bottom: 1.5rem;
		font-size: 1rem;
		font-weight: 600;
	}

	.input-wrapper {
		position: relative;
		padding-right: 120px;
	}

	.form-control {
		width: 100%;
		height: 40px;
		margin: 0;
		padding: 7px 60px 7px 20px;
		font-size: .875rem;
		color: white;
		border: none;
		background: var(--black2);

		&:focus {
			color: white;
			border-color: var(--black3);
			box-shadow: 0 0 0 0.25rem var(--black3);
		}
	}

	::placeholder {
		color: white;
	}

	.btn {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
	}
}